<mat-toolbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <button (click)="crearPersona()" mat-raised-button color="primary" class="my-2">
                    <mat-icon>add_circle_outline</mat-icon>
                    Crear
                </button>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-label>Buscar</mat-label>
                    <input [(ngModel)]="textoBusqueda" name="textoBusqueda" (keyup.enter)="LeerTodo()" matInput>
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
            </div>
        </div>
    </div>
</mat-toolbar>

<div class="container-fluid my-3">
    <div class="row">
        <div class="col">
            <div  class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Identificador">
                  <th mat-header-cell *matHeaderCellDef> Identificador </th>
                  <td mat-cell *matCellDef="let element"> {{element.Identificador}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="Nombres">
                  <th mat-header-cell *matHeaderCellDef> Nombres </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombres}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="Apellidos">
                  <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                  <td mat-cell *matCellDef="let element"> {{element.Apellidos}} </td>
                </ng-container>

                
                <ng-container matColumnDef="Email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                </ng-container>

                
                <ng-container matColumnDef="TipoIdentificacion">
                  <th mat-header-cell *matHeaderCellDef> Tipo de identificación </th>
                  <td mat-cell *matCellDef="let element"> {{element.TipoIdentificacion}} </td>
                </ng-container>

                
                <ng-container matColumnDef="FechaDeCreacion">
                  <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
                  <td mat-cell *matCellDef="let element"> {{element.FechaDeCreacion}} </td>
                </ng-container>

                
                <ng-container matColumnDef="NombresCompletos">
                  <th mat-header-cell *matHeaderCellDef> Nombres completos </th>
                  <td mat-cell *matCellDef="let element"> {{element.NombresCompletos}} </td>
                </ng-container>

                
                <ng-container matColumnDef="IdentificacionTipo">
                  <th mat-header-cell *matHeaderCellDef> Tipo de id + número de id </th>
                  <td mat-cell *matCellDef="let element"> {{element.IdentificacionTipo}} </td>
                </ng-container>

                
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                      <button (click)="eliminar(element.Identificador)" matTooltip="Eliminar elemento" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow="">
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                      <div class="mensaje-no-existen-datos">
                          <mat-icon class="mx-3">error</mat-icon> No existen datos para mostrar
                      </div>
                    </td>
                </tr>
              </table>

              <mat-paginator #paginator                  
                  (page)="cambiarPagina($event)"
                  [length]="cantidadTotal"
                  [pageSize]="cantidadPorPagina"
                  [showFirstLastButtons]="true"
                  [pageSizeOptions]="opcionesDePaginado"
                  [pageIndex]="numeroDePagina">
              </mat-paginator>
            </div>
            
        </div>
    </div>
</div>

