<h2 mat-dialog-title>Crear persona</h2>

<mat-dialog-content>
    <form [formGroup]="formGroup">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Nombres</mat-label>
                        <input formControlName="Nombres" name="Nombres" matInput type="text">                        
                    </mat-form-field>                      
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Apellidos</mat-label>
                        <input formControlName="Apellidos" name="Apellidos" matInput type="text">                        
                    </mat-form-field>                      
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Numero de identificación</mat-label>
                        <input formControlName="NumeroDeIdentificacion" name="NumeroDeIdentificacion" matInput type="text">                        
                    </mat-form-field>                      
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Email</mat-label>
                        <input formControlName="Email" name="Email" matInput type="text">                        
                    </mat-form-field> 
                </div>
                <div class="col-6">
                    <mat-form-field class="example-form-field">
                        <mat-label>Tipo de identificación</mat-label>
                        <input formControlName="TipoIdentificacion" name="TipoIdentificacion" matInput type="text">                        
                    </mat-form-field> 
                </div>
            </div>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions style="padding-left: 40px;">
    <button mat-raised-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>
