<mat-toolbar color="primary">
  <button routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Double V Partners</span>
  <span class="example-spacer"></span>
  Desarrollado por: Alejandro C
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-raised-button class="login-button" (click)="onClose()">Cerrar sesión</button>
</mat-toolbar>

<router-outlet></router-outlet>