<div class="login-container">
    <mat-card class="login-card">
      <h1>Iniciar Sesión</h1>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="NombreUsuario" name="NombreUsuario" placeholder="Ingrese el usuario">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Pass</mat-label>
          <input matInput formControlName="Password" name="Pass" type="pass" placeholder="Ingrese el password">
        </mat-form-field>
        <button mat-raised-button class="login-button" (click)="onSubmit()">Login</button>
      </form>
    </mat-card>
  </div>