<div class="app-panel-container">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card routerLink="usuario/index">
                    <mat-icon>account_circle</mat-icon>
                    <p>Usuario</p>
                </mat-card>
            </div>

            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-2">
                <mat-card routerLink="persona/index">
                    <mat-icon>badge</mat-icon>
                    <p>Persona</p>
                </mat-card>
            </div>

        </div>
    </div>
</div>